@font-face {
    font-family: 'Century Gothic';
    src: url('../../../public/SansSerifFLF-Demibold.otf') format('truetype');
}
body {
    font-family: 'Century Gothic', sans-serif;
}

.NavigationBar {
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
}

a {
    color: black;
    font-size: 26px;
    text-shadow: 2px 2px 2px powderblue;
}

ul {
    list-style-type: none;
    margin: 2%;
    padding: 10px 10px;
    overflow: hidden;
}

li {
    float: left;
    margin-right: 10px;
}

li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

.tab {
    margin-top: 2%;
}

/* .folderTabs {
    margin-top: 2%;
    width: 50%;
    height: 8vh;
} */

.home {
    background-image: url('../../components/NavigationBar/NavBar_1.png'); /* Replace with the path to your image */
  }


.nav-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }