@font-face {
    font-family: 'Century Gothic';
    src: url('../../../public/SansSerifFLF-Demibold.otf') format('truetype');
}
body {
    font-family: 'Century Gothic', sans-serif;
}

.NavigationBar {
    vertical-align: center;
    height: 15%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    /* border: 5px solid; */

}

a {
    color: black;
    font-size: 21px;
    text-shadow: 2px 2px 2px powderblue;
}

.link {
    text-decoration: none;
    font-size: 24px;
    margin-left: 90px;
    margin-top: 65px;
    text-decoration: none;
}

.home {
    margin-right: 35px; 
}

.upload {
    margin-right: 10px;
}

.folder {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: -1;
    width: 40%;
}