body {
    background-size: 40px 40px;
    background-color: white;
    background-image:
      linear-gradient(to right, #a8c4bc 1.5px, transparent 1px),
      linear-gradient(to bottom, #a8c4bc 1.5px, transparent 1px);
  }

.containerUpload {
    text-align: center;
    margin-top: 50%;
}

.webcam {
  padding-bottom: 80px;
  margin-top: 10%;
}

.capturedImage {
  padding-bottom: 80px;
  margin-top: 10%;
}

.buttonContainer {
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* border-radius: 50%; */
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.buttonImage:active {
  filter: drop-shadow(6px 6px gray);
}

.buttonImage {
  padding-top: 20px;
  width: 100%;
  height: 90%;
  align-items: center;
  
}

.wrapper {
  margin-top: 10%;
  text-align: center;
  width: 100%;
}

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  z-index: 2;
}
.polaroid img{
  max-width: 100%;
  height: auto;
}
.polaroid .webcam{
  max-width: 100%;
  height: auto;
}
.item {
  padding: 0px 0px 100px 60px;
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  vertical-align: top;
}

.background_image1 {
  position: absolute;
  z-index: -1;
  left: 500px;
}

.doodle3 {
  position: absolute;
  max-width: 8%;
  height: auto;
  z-index: -1;
  right: 540px;
  top: 670px;
}

.doodle3-1 {
  position: absolute;
  max-width: 8%;
  height: auto;
  z-index: -1;
  right: 50px;
  top: 160px;
}

.doodle4 {
  position: absolute;
  max-width: 6%;
  height: auto;
  z-index: 0;
  left: 260px;
  top: 670px;
}

.doodle5 {
  position: absolute;
  max-width: 7%;
  height: auto;
  z-index: -1;
  left: 200px;
  top: 250px;
}

.doodle6 {
  position: absolute;
  max-width: 7%;
  height: auto;
  z-index: -1;
  left: 150px;
  top: 400px;
}

.square1 {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: -1;
  left: 1020px;
  top: 180px;
}

.tape1 {
  position: absolute;
  max-width: 20%;
  height: auto;
  z-index: 0;
  left: 1040px;
  top: 160px;
  transform: rotate(180deg);
}

.tape1-1 {
  position: absolute;
  max-width: 20%;
  height: auto;
  z-index: 0;
  left: 150px;
  top: 630px;
  transform: rotate(0deg);
}