body {
  background-size: 40px 40px;
  background-color: white;
  background-image:
    linear-gradient(to right, #a8c4bc 1.5px, transparent 1px),
    linear-gradient(to bottom, #a8c4bc 1.5px, transparent 1px);
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  margin-bottom: 5px;
  margin-top: 15px;
}

h2 {
  margin-bottom: 5px;
  margin-top: 5px;
}


.wrapper {
  margin-top: 20vh;
  width: 100%;
}

.spotify {
  width: 25%;
  float: left;
  margin-left: 10%;
  margin-right: 5%;
}

.pics {
  display: flex;
  flex-direction: column;
  /* border: 5px solid; */
  width: 50%;
  float: right;
  margin-left: 5%;
  margin-right: 5%;
  background-color: skyblue;
  border-radius: 2%;
  /* opacity: 0.9; */
}