body {
  background-size: 40px 40px;
  background-color: white;
  background-image:
    linear-gradient(to right, #a8c4bc 1.5px, transparent 1px),
    linear-gradient(to bottom, #a8c4bc 1.5px, transparent 1px);
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  margin-top: 20vh;
  width: 100%;
}

.spotify {
  width: 30%;
  float: left;
  margin-left: 10%;
}